[submodule "modules/embeded-template-library"]
	path = modules/embeded-template-library
	url = https://github.com/ETLCPP/etl.git
[submodule "modules/FreeRTOS-Kernel"]
	path = modules/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "modules/CMSIS-FreeRTOS"]
	path = modules/CMSIS-FreeRTOS
	url = https://github.com/ARM-software/CMSIS-FreeRTOS.git
[submodule "modules/CMSIS"]
	path = modules/CMSIS
	url = https://github.com/ARM-software/CMSIS_6.git
